<div>
  <h1>Angular Unity</h1>
  <p>Example showing a Unity view inside Angular</p>
  <ul>
    <li><a href="#demo" (click)="load('demo')">Communication (3MB)</a></li>
    <li><a href="#shooter" (click)="load('shooter')">Game (9MB)</a></li>
    <li><a href="#chest" (click)="load('chest')">Object Viewer (18MB)</a></li>
    <li><a href="#loader" (click)="load('loader')">Object Loader (4MB)</a></li>
  </ul>
  <div class="buttons" *ngIf="project=='demo'">
    <button (click)="send('MainObject', 'ReceiveMessageFromWeb', 'Hello from Web')">Send Message</button>
  </div>
  <div class="buttons" *ngIf="project=='shooter'">
    <button (click)="send('Game Controller', 'AddScore', 1)">Add Score</button>
    <button (click)="send('Game Controller', 'GameOver')">End Game</button>
  </div>
  <div class="buttons" *ngIf="project=='loader'">
    <button (click)="send('ObjController', 'LoadWeb', baseUrl + 'assets/loader/StreamingAssets/Car.obj')">Load Car</button>
    <button (click)="send('ObjController', 'LoadWeb', baseUrl + 'assets/loader/StreamingAssets/Chair.obj')">Load Chair</button>
    <button (click)="send('ObjController', 'LoadWeb', baseUrl + 'assets/loader/StreamingAssets/Cottage.obj')">Load Cottage</button>
  </div>
</div>
<app-unity #unityView></app-unity>
