<div>
  <h1>Angular Unity</h1>
  <p>Example showing a unity view inside Angular</p>
  <ul>
    <li><a href="#demo" (click)="load('demo')">Demo</a></li>
    <li><a href="#shooter" (click)="load('shooter')">Shooter</a></li>
  </ul>
  <div class="buttons" *ngIf="project=='demo'">
    <button (click)="send('MainObject', 'ReceiveMessageFromWeb', 'Hello from Web')">Send Message</button>
  </div>
  <div class="buttons" *ngIf="project=='shooter'">
    <button (click)="send('Game Controller', 'AddScore', 1)">Add Score</button>
    <button (click)="send('Game Controller', 'GameOver')">End Game</button>
  </div>
</div>
<app-unity #unityView></app-unity>
